/* MagicMirror² Custom CSS Sample
 *
 * Change color and fonts here.
 *
 * Beware that properties cannot be unitless, so for example write '--gap-body: 0px;' instead of just '--gap-body: 0;'
 *
 * MIT Licensed.
 */

/* Uncomment and adjust accordingly if you want to import another font from the google-fonts-api: */
/* @import url('https://fonts.googleapis.com/css2?family=Poppins:wght@100;300;400;700&display=swap'); */

:root {
  --color-text: #ffffff;
  --color-text-dimmed: #ffffff;
  --color-text-bright: #fff;
  --color-background: rgba(0, 0, 0, 0.575);

  --font-primary: "Roboto Condensed";
  --font-secondary: "Roboto";
  
  --font-size: 1.2vw;
  --font-size-small: 0.75rem;
  --font-size-xsmall: 0.75rem;
  --font-size-xmedium: 1;
  --font-size-medium: 1.4rem;
  --font-size-large: 2.8rem;
  --font-size-xlarge: 3.75rem;

  --gap-body-top: 2vw;
  --gap-body-right: 3vw;
  --gap-body-bottom: 1vw;
  --gap-body-left: 5vw;
  
  --gap-modules: 2vw;
}

.MMM-BackgroundSlideshow .gradient {
  background-color:rgba(31, 31, 31, 0.267);
}

.daily-power-verse-reference {
  font-weight: normal;
}


.text-title {
  font-size: 2vw;
  font-weight: bold;
}


/* .daily-power-card {
  margin-top: 20vh;

} */

.digital,
.daily-power-card,
.text-card,
.MMM-OpenWeatherMapForecast {
  background-color:rgba(36, 36, 36, 0.9);
  padding: 1.5vw;
  border-radius: 2vw;
}



.text-card {
  margin-top: 1vh;
  padding: 0.3vw;
}
.digital {
  background: radial-gradient(274px at 7.4% 17.9%, rgb(82, 107, 248) 0.3%, rgb(167, 139, 252) 90.5%);
}

.MMM-OpenWeatherMapForecast .current-conditions-wrapper {
  font-size: 2vw;
}

/* .MMM-Logo {
	-webkit-filter: drop-shadow(5px 5px 5px #222);
  filter: drop-shadow(2px 2px 2px #cccccc);
	margin-top: 10px;
} */

.MMM-Logo {
  filter: drop-shadow(0 0 0.75rem rgb(180, 20, 220));
}